//colors
$main: #171717;			//black
$light: #ffffff;
$brand: #cb944c;		//brown
$brand-2: #d2a66b;		//another brown

//fonts

$font-1: 'pt_sansregular', Arial, sans-serif;
$font-2: 'pt_sansbold', Arial, sans-serif;

$size-small-desktop: 1300px;
$size-tablet: 768px;
$size-small: 320px;