.navbar {
	
	@include breakpoint(max-width $size-tablet) {
		display: none;
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		overflow: hidden;
		padding: 50px 15px 20px;
		background: #fff;
	}
}